{% extends 'base.html.twig' %}

{% block title %}Tricks{% endblock %}

{% block stylesheets %}
    {{ parent() }}
{% endblock %}

{% block body %}
    <div class="h-screen pt-6 bg-gray-100">
        <div class="container mx-auto mt-16 bg-gray-100">
            <div class="inputs w-full max-w-2xl p-6 mx-auto">
                <h2 class="text-3xl text-gray-900 font-bold text-center">Création d'une figure</h2>
                <div class="mt-6 bg-white p-8 shadow relative">
                    {{ form_start(formFigure) }}
                    <div class='flex flex-wrap -mx-3 mb-6'>
                        <div class='w-full md:w-full px-3 mb-6'>
                            {{ form_row(formFigure.name, {'attr': {'class' : 'appearance-none block w-full bg-white text-gray-700 border border-gray-400 shadow-inner rounded-md py-3 px-4 leading-tight focus:outline-none  focus:border-gray-500'}}) }}
                        </div>
                        <div class='w-full md:w-full px-3 mb-6'>
                            {{ form_row(formFigure.description, {'row_attr' : {'rows' : '4'}, 'attr': {'class' : 'appearance-none block w-full bg-white text-gray-700 border border-gray-400 shadow-inner rounded-md py-3 px-4 leading-tight focus:outline-none  focus:border-gray-500'}}) }}
                        </div>
                        <div class='w-full md:w-full px-3 mb-6'>
                            {{ form_row(formFigure.figure_group, {'attr': {'class' : 'appearance-none block w-full bg-white text-gray-700 border border-gray-400 shadow-inner rounded-md py-3 px-4 leading-tight focus:outline-none  focus:border-gray-500'}}) }}
                        </div>
                        <div class='w-full md:w-full px-3 mb-6'>
                            <h3>Photos</h3>
                            <ul class="tags " data-prototype="{{ form_widget(formFigure.pictures.vars.prototype)|e('html_attr') }}">
                                {% for picture in formFigure.pictures %}
                                    <li>{{ form_row(picture.picture) }}</li>
                                {% endfor %}
                            </ul>
                            <button type="button" class="add_item_link font-bold text-blue-600" data-collection-holder-class="tags"> <i class="fa fa-plus pr-2"></i>Ajouter une photo</button>
                        </div>
                        <div class='w-full md:w-full px-3 mb-6'>
                            {{ form_row(formFigure.videos, {'attr': {'class' : 'appearance-none block w-full bg-white text-gray-700 border border-gray-400 shadow-inner rounded-md py-3 px-4 leading-tight focus:outline-none  focus:border-gray-500'}}) }}
                        </div>
                        <div class="absolute bottom-5 right-5">
                            <button class="appearance-none bg-gray-200 hover:bg-gray-400 hover:text-white text-gray-900 px-2 py-1 shadow-sm border border-gray-400 rounded-md mr-3 font-bold"
                                    type="submit">
                                {% if editMode %}
                                    Modifier
                                {% else %}
                                    Enregistrer
                                {% endif %}
                            </button>
                        </div>
                        {{ form_end(formFigure) }}
                    </div>
                </div>
            </div>
        </div>
{% endblock %}

{% block javascripts %}
<script src="https://code.jquery.com/jquery-3.5.1.min.js" integrity="sha256-9/aliU8dGd2tb6OSsuzixeV4y/faTqgFtohetphbbj0=" crossorigin="anonymous"></script>
<script >
    $(document).ready(function() {

        var $tagsCollectionHolder = $('ul.tags');
        $tagsCollectionHolder.data('index', $tagsCollectionHolder.find('input').length);
        $collectionHolder = $('ul.tags');

        $collectionHolder.find('li').each(function() {
            addTagFormDeleteLink($(this));
        });

        $('body').on('click', '.add_item_link', function(e) {
            var $collectionHolderClass = $(e.currentTarget).data('collectionHolderClass');
            addFormToCollection($collectionHolderClass);
        })
    });

    function addFormToCollection($collectionHolderClass) {
        var $collectionHolder = $('.' + $collectionHolderClass);
        var prototype = $collectionHolder.data('prototype');
        var index = $collectionHolder.data('index');
        var newForm = prototype;

        newForm = newForm.replace(/__name__/g, index);
        $collectionHolder.data('index', index + 1);
        var $newFormLi = $('<li></li>').append(newForm);
        $collectionHolder.append($newFormLi)
        addTagFormDeleteLink($newFormLi);
    }

    function addTagFormDeleteLink($tagFormLi) {
    var $removeFormButton = $('<button type="button" class="font-bold text-red-600 float-right">Supprimer cette photo</button>');
    $tagFormLi.append($removeFormButton);

    $removeFormButton.on('click', function(e) {
        // remove the li for the tag form
        $tagFormLi.remove();
    });
}
</script>
{% endblock %}