{% extends 'base.html.twig' %}

{% block title %}
    {{ figure.name }}
{% endblock %}

{% block body %}
    {% if app.user %}
        <div class="hidden" id="hidden-modal">
            {% include 'component/modal.html.twig' %}
        </div>
    {% endif %}
    <div class="w-full bg-cover bg-center h-96"
         style="background-image: url('{{ picture.picture }}');">
        <div class="flex items-center justify-center h-full w-full">
            <div class="text-center">
                <h1 class="text-white lg:text-7xl text-5xl uppercase font-bold">{{ figure.name }}</h1>
            </div>
        </div>
    </div>
    <div class="flex items-center justify-center w-full md:h-full mt-6">
        <div class="container mx-auto relative text-center">
            {% if app.user %}
                <div class="float-right">
                    <a href="{{ path('snowtricks_editfigure', {'figure': figure.id}) }}"
                       class="hover:text-blue-500">
                        <span class="hidden">Modifier</span>
                        <i class="fa fa-pen fa-2x"></i>
                    </a>
                    <button id="delete-figure"
                            class="pl-3 hover:text-red-600" data-id="{{ figure.id }}" data-name="{{ figure.name }}"
                            data-url="{{ path('snowtricks_deletefigure', {'figure': figure.id}) }}">
                        <span class="hidden">Supprimer</span>
                        <i class="fa fa-trash fa-2x"></i>
                    </button>
                </div>
            {% endif %}
            <div class="flex flex-wrap content-center gap-4 justify-center mt-16">
                {% for i in figure.pictures %}
                    <img src="{{ i.picture }}" alt="" class="md:w-1/4 hidden md:block" id="media">
                {% endfor %}
                {% for video in figure.videos %}
                    <iframe width="340" height="230" src="{{ video.video|replace({"watch?v=": "embed/"}) }}"
                            frameborder="0"
                            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                            allowfullscreen class="hidden md:block" id="media">
                    </iframe>
                {% endfor %}
            </div>
            <div class="justify-center mt-16 md:hidden">
                <button id="show-media"
                        class="py-2 px-4 bg-blue-500 rounded text-white font-bold hover:bg-blue-600">
                    Voir les médias
                </button>
                <button id="remove-media"
                        class="py-2 px-4 bg-blue-500 rounded text-white font-bold hover:bg-blue-600 hidden">
                    Enlever les médias
                </button>
            </div>
            <p class="text-justify lg:px-64 px-2 py-6">{{ figure.description }}</p>
            <div class="mt-6 pb-6">
                    <span class="inline-flex items-center justify-center px-2 py-1 text-xs font-bold leading-none text-white bg-blue-500 rounded-full">
                    <i class="fa fa-snowboarding pr-1"></i>{{ figure.figureGroup }}
                </span>
                <span class="inline-flex items-center justify-center px-2 py-1 text-xs font-bold leading-none text-white bg-blue-500 rounded-full">
                    <i class="fa fa-calendar pr-1"></i> Créée le {{ figure.createdAt | date('d/m/Y') }}
                </span>
                {% if figure.modifiedAt %}
                    <span class="inline-flex items-center justify-center px-2 py-1 text-xs font-bold leading-none text-white bg-blue-500 rounded-full">
                         <i class="fa fa-calendar pr-1"></i> Modifiée le {{ figure.modifiedAt | date('d/m/Y') }}
                    </span>
                {% endif %}
            </div>
            {% if app.user %}
                <hr class="mb-2">
                {{ form_start(formDiscussion, {'attr': {'id': 'formDiscussion'}}) }}
                <div class='w-full md:w-full px-3 mb-6'>
                    <div class="text-right mt-1" id="counter"></div>
                    {{ form_row(formDiscussion.message, {'attr': {'id':'message', 'maxLength' : 255, 'class' : 'appearance-none block w-full bg-white text-gray-700 border border-gray-400 shadow-inner rounded-md py-3 px-4 leading-tight focus:outline-none  focus:border-gray-500'}}) }}
                </div>
                <button class="appearance-none bg-gray-200 hover:bg-blue-400 hover:text-white text-gray-900 px-2 py-1 shadow-sm border border-gray-400 rounded-md mr-3 font-bold"
                        id="send-message" type="submit">
                    Envoyer
                </button>
                {{ form_end(formDiscussion) }}
                <hr class="mt-2">
            {% else %}
                <div class="max-w-sm overflow-hidden mx-auto my-8 text-center p-4">
                    <p>Pour participez à la discussion, connectez-vous en cliquant sur le bouton ci-dessous :</p>
                    <div class="pt-6">
                        <a href="{{ path('snowtricks_signin') }}"
                           class="bg-gray-700 rounded text-white p-3 hover:bg-gray-500">Connexion</a>
                    </div>
                </div>
            {% endif %}
            <div class="bg-gray-100 rounded-lg p-6 mt-6" id="messages-boxes">
            </div>
            <button class="bg-gray-500 hover:bg-gray-700 text-white font-bold py-2 px-4 rounded mt-2" id="voir-plus">Voir plus</button>
        </div>
    </div>
{% endblock %}
{% block javascripts %}
    {{ parent() }}
    {{ encore_entry_script_tags('figure') }}
    {{ encore_entry_script_tags('counter') }}
    <script>
        let counter = 0;
        const btn = document.getElementById('voir-plus');
        let messages = [];
        function fetchLastComment(counter = 0, origin) {
            let url = '{{ path("snowtricks_get_message", {'idFigure': figure.id, 'offset' : 'offset'}) }}';
            if (origin === 1) {
                url = url.replace("offset", counter.toString());
            } else {
                url = url.replace("offset", '0');
            }
            fetch(url, {
                method: "GET",
                headers: {
                    'Content-Type': 'application/json',
                },
            })
            .then(resp => resp.json())
            .then(data => {
                let html = '';
                let countMessage = data[0].messagesCount;
                data.forEach(message => messages.push(message));
                console.log(messages)
                messages.forEach(
                    message =>
                        html += '<div class="bg-white rounded p-2 m-2 shadow-xl">' +
                        '<img src="http://127.0.0.1:8000/uploads/profilePicture/'+ message.profilePicture +'" class="inline object-cover w-12 h-12 rounded-full float-left mr-2">' +
                        '<p class="text-left font-light pr-6 text-gray-700">' + message.user + '</p>' +
                        '<p class="text-center px-6 my-2">' + message.message + '</p>' +
                        '<p class="text-right font-light text-xs">'+ new Date(message.createdAt) +'</p>' +
                        '<p class="text-right font-light text-sm text-red-600"><a href="">Signaler</a></p></div>'
                );

                if (countMessage <= counter + 5) {
                    btn.classList.add('hidden')
                }

                document.querySelector('#messages-boxes').innerHTML = html;
            })
            .catch(function (error) {
                console.log(error);
            });
        }

        btn.addEventListener('click', () => {
            counter = counter + 5;
            fetchLastComment(counter, 1);
            fetchLastSentComment();
        })

        window.addEventListener("load", function (event) {
            event.preventDefault();
            fetchLastComment(counter, 0);
        });

        const form = document.getElementById('send-message');
        form.addEventListener("click",
            function (event) {
                event.preventDefault()
                let data = document.getElementById("discussion_message").value;
                fetch('{{ path('snowtricks_send_message', {'idFigure': figure.id}) }}', {
                    method: "POST",
                    body: data,
                    headers: {
                        'Content-Type': 'application/json',
                    },
                })
                .then(resp => resp.json())
                .then(() => {
                    fetchLastSentComment();
                    document.getElementById("discussion_message").value = "";
                })
                .catch(error => {
                    console.log(error);
                })
            }
        )

        function fetchLastSentComment() {
            fetch('{{ path('snowtricks_get_last_message', {'idFigure': figure.id}) }}', {
                method: "GET",
                headers: {
                    'Content-Type': 'application/json',
                },
            })
            .then(resp => resp.json())
            .then((data) => {
                console.log(data)
                let html = '';
                html = '<div class="bg-white rounded p-2 m-2 shadow-xl">' +
                    '<img src="http://127.0.0.1:8000/uploads/profilePicture/'+ data.profilePicture +'" class="inline object-cover w-12 h-12 rounded-full float-left mr-2">' +
                    '<p class="text-left font-light pr-6 text-gray-700">' + data.user + '</p>' +
                    '<p class="text-center px-6 my-2" id="message">' + data.message + '</p>' +
                    '<p class="text-right font-light text-xs">'+ new Date(data.createdAt) +'</p>' +
                    '<p class="text-right font-light text-sm text-red-600"><a href="">Signaler</a></p></div>'
                document.querySelector('#messages-boxes').insertAdjacentHTML("afterbegin",html);
            })
            .catch(error => {
                console.log(error);
            })
        }
    </script>

{% endblock %}