<nav>
    <div class="hidden sm:block sm:ml-6 sm:mr-6 flex">
        <div class="float-left">
            <a href="/">
                <img src="{{ asset('image/hat.svg') }}" alt="" class="h-12 w-12 px-2 py-1">
            </a>
        </div>
        <div class="float-right pt-2">
            <a href="{{ path('snowtricks_home') }}" class="hover:bg-white hover:text-black bg-gray-700 px-3 py-2 text-white rounded-md text-sm font-medium">Home</a>
            <a href="{{ path('snowtricks_createfigure') }}" class="hover:bg-white hover:text-black bg-gray-700 text-white px-3 py-2 rounded-md text-sm font-medium">Tricks</a>
            <a href="#" class="hover:bg-white hover:text-black bg-gray-700 text-white px-3 py-2 rounded-md text-sm font-medium">Sign In</a>
            <a href="{{ path('snowtricks_signup') }}" class="hover:bg-white hover:text-black bg-gray-700 px-3 text-white py-2 rounded-md text-sm font-medium">Sign Up</a>
        </div>
    </div>
    <div class="lg:hidden md:hidden xl:hidden block fixed inset-x-0 bottom-0 z-10 bg-white shadow">
        <ul class="text-center m-2 space-x-6">
            <li class="inline">
                <a href="{{ path('snowtricks_home') }}">
                    <i class="fa fa-home fa-3x"></i>
                </a>
            </li>
            <li class="inline">
                <a href="{{ path('snowtricks_createfigure') }}">
                    <i class="fa fa-snowboarding fa-3x"></i>
                </a>
            </li>
            <li class="inline">
                <a href="">
                    <i class="fa fa-edit fa-3x"></i>
                </a>
            </li>
            <li class="inline">
                <a href="">
                    <i class="fa fa-user-plus fa-3x"></i>
                </a>
            </li>
        </ul>
    </div>
</nav>