<nav>
    <div class="hidden sm:block sm:ml-6 sm:mr-6 flex">
        <div class="float-left">
            <a href="/">
                <img src="{{ asset('image/hat.svg') }}" alt="" class="h-12 w-12 px-2 py-1">
            </a>
        </div>
        <div class="float-right pt-3">
            <a href="{{ path('snowtricks_home') }}"
               class="px-3 py-2 rounded-md text-sm font-medium bg-gray-100 text-gray-700 hover:bg-gray-200 hover:text-black">Accueil</a>
            {% if app.user %}
                <a href="{{ path('snowtricks_create_figure') }}"
                   class="px-3 py-2 rounded-md text-sm font-medium bg-gray-100 text-gray-700 hover:bg-gray-200 hover:text-black">Ajouter
                    une figure</a>
                <a href="{{ path('snowtricks_logout') }}"
                   class="px-3 py-2 rounded-md text-sm font-medium bg-gray-100 text-gray-700 hover:bg-gray-200 hover:text-black">Deconnexion</a>
            {% else %}
                <a href="{{ path('snowtricks_signin') }}"
                   class="px-3 py-2 rounded-md text-sm font-medium bg-gray-100 text-gray-700 hover:bg-gray-200 hover:text-black">Connexion</a>
                <a href="{{ path('snowtricks_signup') }}"
                   class="px-3 py-2 rounded-md text-sm font-medium bg-gray-100 text-gray-700 hover:bg-gray-200 hover:text-black">Inscription</a>
            {% endif %}
        </div>
    </div>
    <div class="lg:hidden md:hidden xl:hidden block fixed inset-x-0 bottom-0 z-10 bg-blue-100">
        <div class="text-center m-2 space-x-6">
            <a href="{{ path('snowtricks_home') }}" class="inline">
                <i class="fa fa-home fa-3x"></i>
            </a>
            {% if app.user %}
                <a href="{{ path('snowtricks_create_figure') }}" class="inline">
                    <i class="fa fa-snowboarding fa-3x"></i>
                </a>
                <a href="{{ path('snowtricks_logout') }}" class="inline">
                    <i class="fas fa-sign-out-alt fa-3x"></i>
                </a>
            {% else %}
                <a href="{{ path('snowtricks_signin') }}" class="inline">
                    <i class="fa fa-edit fa-3x"></i>
                </a>
                <a href="{{ path('snowtricks_signup') }}" class="inline">
                    <i class="fa fa-user-plus fa-3x"></i>
                </a>
            {% endif %}
        </div>
    </div>
</nav>