<nav>
    <div class="hidden sm:block sm:ml-6 sm:mr-6 flex">
        <div class="float-left">
            <a href="/">
                <img src="{{ asset('image/hat.svg') }}" alt="" class="h-12 w-12 px-2 py-1">
            </a>
        </div>
        <div class="float-right pt-3">
            <a href="{{ path('snowtricks_home') }}"
               class="hover:bg-white text-black border-white hover:border-transparent border-2 px-3 py-2 rounded-md text-sm font-medium">Accueil</a>
            {% if app.user %}
                <a href="{{ path('snowtricks_create_figure') }}"
                   class="hover:bg-white text-black border-white hover:border-transparent border-2 px-3 py-2 rounded-md text-sm font-medium">Ajouter
                    un figure</a>
                <a href="{{ path('snowtricks_logout') }}"
                   class="hover:bg-white text-black border-white hover:border-transparent border-2 px-3 py-2 rounded-md text-sm font-medium">Deconnexion</a>
            {% else %}
                <a href="{{ path('snowtricks_signin') }}"
                   class="hover:bg-white text-black border-white hover:border-transparent border-2 px-3 py-2 rounded-md text-sm font-medium">Connexion</a>
                <a href="{{ path('snowtricks_signup') }}"
                   class="hover:bg-white text-black border-white hover:border-transparent border-2 px-3 py-2 rounded-md text-sm font-medium">Inscription</a>
            {% endif %}
        </div>
    </div>
    <div class="lg:hidden md:hidden xl:hidden block fixed inset-x-0 bottom-0 z-10 bg-blue-100">
        <div class="text-center m-2 space-x-6">
            <a href="{{ path('snowtricks_home') }}" class="inline">
                <i class="fa fa-home fa-3x"></i>
            </a>
            {% if app.user %}
                <a href="{{ path('snowtricks_create_figure') }}" class="inline">
                    <i class="fa fa-snowboarding fa-3x"></i>
                </a>
                <a href="{{ path('snowtricks_logout') }}" class="inline">
                    <i class="fas fa-sign-out-alt fa-3x"></i>
                </a>
            {% else %}
                <a href="{{ path('snowtricks_signin') }}" class="inline">
                    <i class="fa fa-edit fa-3x"></i>
                </a>
                <a href="{{ path('snowtricks_signup') }}" class="inline">
                    <i class="fa fa-user-plus fa-3x"></i>
                </a>
            {% endif %}
        </div>
    </div>
</nav>