{% extends 'base.html.twig' %}

{% block title %}Inscription{% endblock %}

{% block body %}
<div class="h-screen pt-6 bg-gray-100">
    <div class="container mx-auto my-16">
        <div class="inputs w-full max-w-2xl p-6 mx-auto ">
            <h2 class="text-3xl text-gray-900 font-bold text-center">Inscription</h2>
            <div class="mt-6 bg-white p-8 shadow mb-24">
                {{ form_start(formSignUp) }}
                <div class='flex flex-wrap -mx-3 mb-6'>
                    <div class='w-full md:w-full px-3 mb-6'>
                        {{ form_row(formSignUp.username, {'attr': {'class' : 'appearance-none block w-full bg-white text-gray-700 border border-gray-400 shadow-inner rounded-md py-3 px-4 leading-tight focus:outline-none  focus:border-gray-500'}}) }}
                    </div>
                    <div class='w-full md:w-full px-3 mb-6'>
                        {{ form_row(formSignUp.email, {'attr': {'class' : 'appearance-none block w-full bg-white text-gray-700 border border-gray-400 shadow-inner rounded-md py-3 px-4 leading-tight focus:outline-none  focus:border-gray-500'}}) }}
                    </div>
                    <div class='w-full md:w-full px-3 mb-6 pb-6'>
                        {{ form_row(formSignUp.password, {'attr': {'class' : 'appearance-none block w-full bg-white text-gray-700 border border-gray-400 shadow-inner rounded-md py-3 px-4 leading-tight focus:outline-none  focus:border-gray-500'}}) }}
                    </div>
                    <div class='w-full md:w-full px-3 mb-6 pb-6'>
                        {{ form_row(formSignUp.profilePicture, {'attr': {'class' : 'appearance-none block w-full bg-white text-gray-700 py-3 px-4 leading-tight'}}) }}
                    </div>
                    <button class="w-full h-12 px-6 text-white font-bold transition-colors duration-150 bg-blue-500 rounded-lg focus:shadow-outline hover:bg-blue-600">
                        S'inscrire
                    </button>
                    {{ form_end(formSignUp) }}
                    <div class="w-full md:w-full text-center pt-2">
                        <a href="{{ path('snowtricks_signin') }}" class="hover:text-blue-500 hover:underline">J'ai déja un compte ?</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    {% endblock %}
